body {
	background-color: sandybrown;
}
#rando {
	display: block;
	margin: auto;
	width: 40%;
}

#rando2 {
	display: block;
	margin: auto;
	width: 10%;
}

#leftarrow {
	display: inline-block;
	margin: auto;
	width: 10%
}

#rightarrow {
	display: inline-block;
	margin: auto;
	width: 10%
}

#max {
	display: block;
	margin: auto;
	width: 40%;
}