.background-image
{
	background-image: url(IMG/pexels-photo-24377.jpg);
	background-repeat: repeat;
}

.body
{
	background-color: transparent;
}

.image1
{
	background:URL("../../IMG/FloatingCity.png");
	width:100px;
	height:100px;
}

#rando {
	display: block;
	margin: auto;
	width: 40%;
}
