/*CSS File*/
body {background-color: powderblue;}
h1   {color: darkslategrey;}
h2   {color: #008b8b
}
p    {color: darkcyan;}
table, tr, td {
	border: 2px solid darkslategrey;
}
img {
	float: right;
}

img {
	float: left;
}
